@import "variables";
$body-bg: $primary-background;
$body-color: $text-color;
$navbar-dark-color: $text-prehover-color;
$navbar-dark-hover-color: $text-color;
$navbar-dark-disabled-color: $text-disabled-color;
$navbar-dark-active-color: $text-color;
$dropdown-color: $text-color;
$dropdown-bg: $header-background;
$dropdown-border-radius: 0;
$dropdown-link-color: $text-prehover-color;
$dropdown-link-hover-color: $text-color;
$dropdown-link-disabled-color: $text-disabled-color;
$dropdown-link-hover-bg: $hover-box;
$dropdown-link-disabled-bg: $header-background;
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@media (max-width: map-get($grid-breakpoints, sm)) {
  .row:not(.no-gutters) {
    margin-right: -$grid-gutter-width / 4;
    margin-left: -$grid-gutter-width / 4;
  }
  .row:not(.no-gutters) > .col,
  .row:not(.no-gutters) > [class*="col-"] {
    padding-right: $grid-gutter-width / 4;
    padding-left: $grid-gutter-width / 4;
  }
}

@import "navbar";
@import "footer";
@import "layout";
@import "banner";
@import "staffcard";
@import "patreon";
@import "dynmap";
@import "stylebutton";
@import "../../node_modules/animate.css/animate.min.css";
@import "index";
html {
  overflow-x: hidden;
}
